@{ ViewData["Title"] = "Página Principal"; @*layout da página index, nomeada 'Home Page'*@ }

<div class="text-center">
    <h1 class="display-4">Welcome to <b>PCore</b></h1>
</div>
<img src="~/fotos/PC.png" />
